# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover

# Jupyter Notebook
.ipynb_checkpoints

# Environment
.env
.venv
env/
venv/
ENV/

# Data files
*.csv
*.json
*.gz

# Model files
*.h5
*.pth
*.pkl

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# OS specific files
.DS_Store